button {
    padding: 15px;
    font-size: 1.5rem;
    margin: 1px;
    background-color: rgb(255, 255, 168);
    border-radius: 15px;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
